<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KFHstaffDBConnection"
			 connectionString="Data Source=DESKTOP-PU7MA1F\SQLEXPRESS;Initial Catalog=KFHdb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>