<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KFHstaffDBConnection"
             connectionString="Data Source=192.168.31.36,1232;Initial Catalog=KFHdb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>